.reviewEdit{
    display : none;
    position : fixed;
    top : 0;
    right : 0;
    width : 100%;
    height : 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 1;
}

.reviewWindow{
    position : fixed;
    top :50%;
    right : 50%;
    transform: translate(50%, -50%);
    width: 30%;
    z-index: 1;
    background-color: white;
}

.reviewdelete{
    display : none;
    position : fixed;
    top : 0;
    right : 0;
    width : 100%;
    height : 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 1;
}

.reviewDeleteWindow{
    position : fixed;
    top :50%;
    right : 50%;
    transform: translate(50%, -50%);
    width: 30%;
    z-index: 1;
    background-color: white;
}